html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.introduction {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.introduction .container {
  max-width: 1200px;
}

.introduction .header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.introduction .navbar-logo {
  max-width: 150px;
  max-height: 80px;
}

.introduction-inner {
  min-height: 100vh;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  font-size: 15px;
}

.intro-slider-item {
  min-height: 100vh;
}

.intro .first-slide {
  background: url("../assets/img/window.jpg") center no-repeat;
  background-size: cover;
}

.intro .second-slide {
  background: url("../assets/img/busy.jpg") center no-repeat;
  background-size: cover;
}

.intro .third-slide {
  background: url("../assets/img/city.jpg") center no-repeat;
  background-size: cover;
}

.intro-item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  line-height: 1.2;
}

.intro-suptitle {
  font-size: 40px;
}

.intro-title {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 25px;
}

.button-items {
  margin: 40px 0;
}

.button-items .btn {
  border-radius: 20px;
  padding: 0.7rem 1.75rem;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.about {
  margin-bottom: 100px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
}

.about .background-image {
  position: absolute;
  top: -100px;
  left: -15px;
  min-width: 400px;
  min-height: 450px;
  background-color: #fafafa;
  z-index: 1;
}

.about .image {
  position: absolute;
  top: -70px;
  width: 400px;
  height: 450px;
  background: url("../assets/img/about-us.jpg") center no-repeat;
  background-size: cover;
  z-index: 100;
}

.about .image img {
  display: block;
  width: 100%;
}

.about-inner {
  margin-left: 130px;
}

.about-inner .general {
  padding: 100px 50px 0;
}

.general-suptitle {
  color: #a0a0a0;
  text-transform: uppercase;
  font-size: 14px;
}

.general-title {
  text-transform: capitalize;
  font-size: 50px;
  margin-bottom: 20px;
  display: inline-block;
}

.general-title span {
  color: #8bc34a;
}

.general-title::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #8bc34a;
}

.general-text {
  color: #a0a0a0;
}

.whatwedo {
  background-color: #fafafa;
  min-height: 700px;
  padding-top: 70px;
}

.whatwedo .whatwedo-images {
  position: relative;
}

.whatwedo .whatwedo-images .backimage {
  display: block;
  max-width: 400px;
  max-height: 450px;
  z-index: 1;
}

.whatwedo .whatwedo-images .backimage img {
  display: block;
  width: 100%;
  height: 100%;
}

.whatwedo .whatwedo-images .frontimage {
  position: absolute;
  top: 200px;
  right: -50px;
  max-width: 400px;
  max-height: 450px;
  z-index: 2;
}

.whatwedo .whatwedo-images .frontimage img {
  display: block;
  width: 100%;
  height: 100%;
}

.whatwedo .adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.whatwedo .adventages-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whatwedo .adventages-item i.fas {
  font-size: 30px;
  margin-bottom: 15px;
}

.whatwedo .adventages-item-title {
  font-weight: 700;
  color: black;
  font-size: 18px;
}

.whatwedo .adventages-item-title::after {
  content: "";
  margin: 15px 0;
  display: block;
  width: 30px;
  height: 1px;
  background-color: black;
}

.whatwedo .adventages-item-text {
  font: 300px;
  margin-bottom: 20px;
  padding: 0 15px 0 0;
}

.works {
  min-height: 800px;
}

.works .general {
  padding-top: 70px;
}

.works-images-link {
  display: inline-block;
  position: relative;
}

.works-images-link .overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 100;
}

.works-images-link .overlay i.fas::before {
  color: red;
}

.works-images-link:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.works-images-link img {
  width: 300px;
  height: 200px;
  position: relative;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
/*# sourceMappingURL=style.css.map */