// General title subtitle blocks

.general {
    // padding: 100px 50px 0;
    // line-height: 1.2;
    &-suptitle {
      color: rgb(160, 160, 160);
      text-transform: uppercase;
      font-size: 14px;
    }
    &-title {
      text-transform: capitalize;
      font-size: 50px;
      margin-bottom: 20px;
      display: inline-block;
      span {
        color: #8bc34a;
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #8bc34a;
      }
    }
    &-text {
      color: rgb(160, 160, 160);
    }
  }