@import "./reset";

.introduction {
  overflow: hidden;
  // background-color: royalblue;
  position: relative;
  min-height: 100vh;

  .container {
    max-width: 1200px;
  }
  .header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    max-height: fit-content;
    // background-color: white;
    // padding: 15px 0;
  }

  .navbar-logo {
    max-width: 150px;
    max-height: 80px;
  }
  &-inner {
    min-height: 100vh;
  }
}

// SLICK SLIDER

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  bottom: 20px;
  li button:before {
    font-size: 15px;
  }
}

.intro {
  &-slider-item {
    min-height: 100vh;
  }
  .first-slide {
    background: url("../assets/img/window.jpg") center no-repeat;
    background-size: cover;
  }
  .second-slide {
    background: url("../assets/img/busy.jpg") center no-repeat;
    background-size: cover;
  }
  .third-slide {
    // background-color: red;
    background: url("../assets/img/city.jpg") center no-repeat;
    background-size: cover;
  }
  &-item {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    line-height: 1.2;
  }
  &-suptitle {
    font-size: 40px;
  }
  &-title {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 25px;
  }
}

//--------------- BUTTONS -----------
.button-items {
  margin: 40px 0;
  .btn {
    border-radius: 20px;
    padding: 0.7rem 1.75rem;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s linear;
  }
  .btn-success {
  }
  .btn-light:hover {
    // color: rgb(10, 184, 10);
  }
}

// About
.about {
  // background: rgb(148, 148, 194);
  margin-bottom: 100px;
  min-height: fit-content;
  position: relative;
  .background-image {
    position: absolute;
    // bottom: -10px;
    top: -100px;
    left: -15px;
    min-width: 400px;
    min-height: 450px;
    background-color: rgb(250, 250, 250);
    z-index: 1;
    // img {
    //   display: block;
    //   width: 100%;
    // }
  }
  .image {
    position: absolute;
    top: -70px;
    width: 400px;
    height: 450px;

    background: url("../assets/img/about-us.jpg") center no-repeat;
    background-size: cover;
    z-index: 100;
    img {
      display: block;
      width: 100%;
    }
  }
  &-inner {
    margin-left: 130px;
    .general {
      padding: 100px 50px 0;
    }
  }
}

// General title subtitle blocks

.general {
  // padding: 100px 50px 0;
  // line-height: 1.2;
  &-suptitle {
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    font-size: 14px;
  }
  &-title {
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 20px;
    display: inline-block;
    span {
      color: #8bc34a;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background-color: #8bc34a;
    }
  }
  &-text {
    color: rgb(160, 160, 160);
  }

  .button-items {
    // padding: 0 50px;
  }
}

// WHATWEDO
.whatwedo {
  background-color: rgb(250, 250, 250);
  min-height: 700px;
  padding-top: 70px;
  .whatwedo-images {
    position: relative;
    .backimage {
      display: block;
      // position: absolute;

      max-width: 400px;
      max-height: 450px;
      // background: url("../assets/img/business-template.jpg") center no-repeat;
      // background-size: cover;
      z-index: 1;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .frontimage {
      position: absolute;
      top: 200px;
      right: -50px;
      max-width: 400px;
      max-height: 450px;
      // background: url("../assets/img/website-template.jpg") center no-repeat;
      // background-size: cover;
      z-index: 2;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Adventages

  .adventages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    &-item {
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      i.fas {
        font-size: 30px;
        margin-bottom: 15px;
      }

      &-title {
        font-weight: 700;
        color: black;
        font-size: 18px;
        &::after {
          content: "";
          margin: 15px 0;
          display: block;
          width: 30px;
          height: 1px;
          background-color: black;
        }
      }
      &-text {
        font: 300px;
        margin-bottom: 20px;
        padding: 0 15px 0 0;
      }
    }
  }
}

// Works

.works {
  min-height: fit-content;
  padding-bottom: 50px;

  .general {
    padding-top: 70px;
  }

  &-images {
    margin-top: 50px;
    &-link {
      display: inline-block;
      position: relative;
      .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.2s linear;

        z-index: 100;

        i.fas::before {
          font-size: 30px;
          color: #8bc34a;
        }
      }
      &:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
        transform: scale3d(1.2, 1.2, 1.2);
      }
      &:hover img {
        transform: scale3d(1.2, 1.2, 1.2);
        z-index: 100;
      }
      img {
        width: 300px;
        height: 200px;
        position: relative;
        transform: scale3d(1, 1, 1);
        transition: transform 0.2s linear;
      }
    }
  }
}

/**
 * Tabs navigation
 */
.tabs {
  min-height: 500px;
}

tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-nav__link {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid white;
  margin-right: 4px;
  padding: 35px;
  color: black;
  background-color: white;
  transition: all 0.3s linear;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #8bc34a;
    text-decoration: none;
  }

  &.is-active {
    color: #8bc34a;
    background-color: #e7e7e7;
    border-bottom: 4px solid #8bc34a;
  }

  i {
    font-size: 14px;
    margin-right: 10px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

/**
 * Tab
 */
.tab-outer {
  background-color: #e7e7e7;
}

.tab {
  display: none;

  &.is-active {
    display: block;
  }

  .row {
    padding: 50px 0;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }

  &-image {
    max-width: 350px;
    max-height: 220px;
    width: 100%;
    // transition: all 0.2s linear;
    // padding: 50px 0;
  }
}
