@import "./reset";
* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

 body {
  overflow-x: hidden;
}



@import "./navigatiton/nav";

@import "./introduction/introduction";

@import "./buttons/buttons";

@import "./about/about";

@import "./general/generalSettings";

@import "./whatwedo/whatwedo";

@import "./works/works";

@import "./tabs/tabs";

@import "./members/members";

@import "./footer/footer";

@import "./mediaQueries/allmedia";
