.footer {
  color: #6b6b6b;
  padding: 50px 0;
  min-height: 200px;
  background-color: #262626;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &-logo {
    max-width: 100px;
    max-height: 80px;
  }

  &-icons {
    display: flex;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    align-items: center;

    a {
      color: #6b6b6b;
      transition: color 0.2s linear;
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #87bd4a;
      }
      i {
        font-size: 20px;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    //   align-items: center;
    &-title {
      font-size: 20px;
      margin-bottom: 25px;
      font-weight: 700;
    }
    &-description {
      line-height: 1.8;
      font-size: 17px;
    }
    &-text {
      padding: 0 40px 0 0;
      font-size: 18px;
      margin-bottom: 25px;
    }
    &-input {
      max-width: fit-content;
      background: none;
      border: 1px solid #6b6b6b;
      border-radius: 20px;
      padding: 10px 10px;
      color: #6b6b6b;
    }
  }
}

