/**
 * Tabs navigation
 */
.tabs {
  min-height: 500px;
}

tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-nav__link {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid white;
  margin-right: 4px;
  padding: 35px;
  color: black;
  background-color: white;
  transition: all 0.3s linear;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #8bc34a;
    text-decoration: none;
  }

  &.is-active {
    color: #8bc34a;
    background-color: #e7e7e7;
    border-bottom: 4px solid #8bc34a;
  }

  i {
    font-size: 14px;
    margin-right: 10px;
  }

  span {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

/**
   * Tab
   */
.tab-outer {
  background-color: #e7e7e7;
}

.tab {
  display: none;

  &.is-active {
    display: block;
  }

  .row {
    padding: 50px 0;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }

  &-image {
    max-width: 350px;
    max-height: 220px;
    width: 100%;
    // transition: all 0.2s linear;
    // padding: 50px 0;
  }
}

